body{
    background: url("../IMG/zvezdnoe_nebo_zvezdy_noch_blesk_114765_1280x720.png");
}
#binText{
    margin-left: 70px;
    font-family: sans-serif;
    color: #d6d6d6;
}
#chText{
    margin-left: 70px;
    font-family: sans-serif;
    color: #d6d6d6;
}
#inputField{
    width: 12%;
    display: none;
    margin-left: 70px;
}
#answerBT{
    display: none;
    margin-left: 70px;
}
#res{
    display: none;
    margin-left: 70px;
}
#divField{
    display: none;
    margin-left: 70px;
}
#stFields{
    display: none;
    margin-left: 70px;
    font-family: sans-serif;
    color: #d6d6d6;
}
#stFields{
    display: none;
    margin-left: 70px;
}
#startBT{
    display: none;
    margin-left: 70px;
}
#inputNum{
    display: none;
    margin-left: 70px;
}
#MachineDiv{
    display: none;
    margin-left: 70px;
}
#answerButtons{
    display: none;
    margin-left: 70px;
}
#attempts{
    display: none;
    margin-left: 70px;
}
#machineChoseN{
    margin-left: 70px;
    font-family: sans-serif;
    color: #d6d6d6
}
#resultAns{
    margin-left: 70px;
    font-family: sans-serif;
    color: crimson;
}
#attempts{
    margin-left: 70px;
    font-family: sans-serif;
    color: #d6d6d6
}
#counter{
    margin-left: 70px;
    font-family: sans-serif;
    color: #d6d6d6
}
#machineAnswer{
    font-family: sans-serif;
    color: #d6d6d6
}
#MachineSt {
    margin-left: 60px;
}
#errorAns{
    margin-left: 70px;
    font-family: sans-serif;
    color: crimson;
}
#alert{
    color: crimson;
}
#rules {
    font-family: sans-serif;
    color: #d6d6d6;
    margin-left: 650px;
    margin-top: 100px;
    font-size: large;
    border: 3px dashed #d6d6d6;
    padding: 10px;
    position: fixed;
}
